events {}
http {
    server {
        listen {{ nginx_setup_http_port }};
        server_name {{ nginx_setup_server_name }};

        location / {
            root /var/www/html;
            index index.html;
        }
    }
}